<div class="title">
    <h5>Employee Count</h5>
    <mat-form-field appearance="outline" class="">
        <mat-label>Year</mat-label>
        <mat-select [(ngModel)]="selectedYear">
            @for (year of years; track $index) {
                <mat-option [value]="year">
                    {{year}}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>

<div class="chart bg-white">
    <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [dataLabels]="chartOptions.dataLabels!"
        [plotOptions]="chartOptions.plotOptions!"
        [yaxis]="chartOptions.yaxis!"
        [xaxis]="chartOptions.xaxis!"
        [stroke]="chartOptions.stroke!"
        [grid]="chartOptions.grid!"
        [fill]="chartOptions.fill!"
        [annotations]="chartOptions.annotations!"
    ></apx-chart>
</div>