

<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0"></h5>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <mat-card class="mb-25 text-center tagus-card">
            <mat-card-content>
                <img src="img/user/user12.jpg" class="mb-15" width="" alt="user">
                <h5 class="mb-5 fw-semibold">Angular</h5>
                <span class="d-block muted-color">Fresher</span>
                <div class="btn-box">
                    <!-- <a mat-flat-button href="mailto:alvaradoturner&#64;tagus.com" class="tagus">Message</a> -->
                    <button mat-flat-button class="gray">Projects</button>
                </div>
                <ul class="list d-flex align-items-center justify-content-space-between text-center mb-0">
                    <li class="muted-color fw-medium down">
                        <span class="d-block">Lecturer</span>
                        <span class="d-block" style="text-align: center;">
                            <img src="img/user/user12.jpg" class="mb-15" width="20" alt="user">
                        </span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">tien si</span>
                    </li>
                    <li class="muted-color fw-medium">
                        <span class="d-block">Followers</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">5.21k</span>
                    </li>
                    <li class="muted-color fw-medium down">
                        <span class="d-block">Followings</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">32k</span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <mat-card class="mb-25 text-center tagus-card">
            <mat-card-content>
                <img src="img/user/user13.jpg" class="rounded-circle mb-15" width="150" alt="user">
                <h5 class="mb-5 fw-semibold">Evangelina Mcclain</h5>
                <span class="d-block muted-color">&#64;evangelinamcclain</span>
                <div class="btn-box">
                    <a mat-flat-button href="mailto:evangelinamcclain&#64;tagus.com" class="tagus">Message</a>
                    <button mat-flat-button class="gray">Projects</button>
                </div>
                <ul class="list d-flex align-items-center justify-content-space-between text-center mb-0">
                    <li class="muted-color fw-medium down">
                        <span class="d-block">Post</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">10k</span>
                    </li>
                    <li class="muted-color fw-medium">
                        <span class="d-block">Followers</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">1.11k</span>
                    </li>
                    <li class="muted-color fw-medium down">
                        <span class="d-block">Followings</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">12k</span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <mat-card class="mb-25 text-center tagus-card">
            <mat-card-content>
                <img src="img/user/user11.jpg" class="rounded-circle mb-15" width="150" alt="user">
                <h5 class="mb-5 fw-semibold">Candice Munoz</h5>
                <span class="d-block muted-color">&#64;candicemunoz</span>
                <div class="btn-box">
                    <a mat-flat-button href="mailto:candicemunoz&#64;tagus.com" class="tagus">Message</a>
                    <button mat-flat-button class="gray">Projects</button>
                </div>
                <ul class="list d-flex align-items-center justify-content-space-between text-center mb-0">
                    <li class="muted-color fw-medium down">
                        <span class="d-block">Post</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">28k</span>
                    </li>
                    <li class="muted-color fw-medium">
                        <span class="d-block">Followers</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">2.12k</span>
                    </li>
                    <li class="muted-color fw-medium down">
                        <span class="d-block">Followings</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">21k</span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <mat-card class="mb-25 text-center tagus-card">
            <mat-card-content>
                <img src="img/user/user14.jpg" class="rounded-circle mb-15" width="150" alt="user">
                <h5 class="mb-5 fw-semibold">Bernard Langley</h5>
                <span class="d-block muted-color">&#64;bernardlangley</span>
                <div class="btn-box">
                    <a mat-flat-button href="mailto:bernardlangley&#64;tagus.com" class="tagus">Message</a>
                    <button mat-flat-button class="gray">Projects</button>
                </div>
                <ul class="list d-flex align-items-center justify-content-space-between text-center mb-0">
                    <li class="muted-color fw-medium down">
                        <span class="d-block">Post</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">21k</span>
                    </li>
                    <li class="muted-color fw-medium">
                        <span class="d-block">Followers</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">1.21k</span>
                    </li>
                    <li class="muted-color fw-medium down">
                        <span class="d-block">Followings</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">42k</span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <mat-card class="mb-25 text-center tagus-card">
            <mat-card-content>
                <img src="img/user/user8.jpg" class="rounded-circle mb-15" width="150" alt="user">
                <h5 class="mb-5 fw-semibold">Kristie Hall</h5>
                <span class="d-block muted-color">&#64;kristiehall</span>
                <div class="btn-box">
                    <a mat-flat-button href="mailto:kristiehall&#64;tagus.com" class="tagus">Message</a>
                    <button mat-flat-button class="gray">Projects</button>
                </div>
                <ul class="list d-flex align-items-center justify-content-space-between text-center mb-0">
                    <li class="muted-color fw-medium down">
                        <span class="d-block">Post</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">20k</span>
                    </li>
                    <li class="muted-color fw-medium">
                        <span class="d-block">Followers</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">5k</span>
                    </li>
                    <li class="muted-color fw-medium down">
                        <span class="d-block">Followings</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">52k</span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>