<div
    class="sidebar-area bg-white box-shadow"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo bg-white">
        <a routerLink="/mentor/chat" class="d-flex align-items-center">
            <img src="img/logo-icon.png" alt="logo">
            <span>Skill Up</span>
        </a>
    </div>
    <div class="burger-menu" (click)="toggle()" [ngClass]="{'active': isToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" style="height: 100vh;">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title gray-color">Mentor</span>

                    <mat-expansion-panel [expanded]="isActive('/mentor/chat')" hideToggle>
                    <mat-expansion-panel-header
                        routerLink="/mentor/chat" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link"
                    >
                        <mat-panel-title>
                            <i class="flaticon-comment"></i>
                            <span class="title">Chat với Học viên</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="isActive('/mentor/profile')" hideToggle>
                    <mat-expansion-panel-header
                        routerLink="/mentor/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link"
                    >
                        <mat-panel-title>
                            <i class="flaticon-user"></i>
                            <span class="title">Hồ sơ cá nhân</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="isActive('/mentor/materials')" hideToggle>
                    <mat-expansion-panel-header
                        routerLink="/mentor/materials" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link"
                    >
                        <mat-panel-title>
                            <i class="flaticon-file-1"></i>
                            <span class="title">Học liệu của tôi</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
