.search {
  margin: 15px 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  button {
    position: relative;
    top: -10px;
  }
}

.status-badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  font-size: 13px;
  text-align: center;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.approved {
  background-color: #d4edda;
  color: #155724;
}

.pending {
  background-color: #fff3cd;
  color: #856404;
}

.rejected {
  background-color: #f8d7da;
  color: #721c24;
}

.draft {
  background-color: #e0e7ff; 
  color: #3730a3;
}